Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

fix(ProveIt): follow commit 7563f16f (#614)
  src/ProveIt/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ProveIt): follow commit c836338a
  src/ProveIt/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ProveIt): follow commit c836338a (#615)
  src/ProveIt/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ProveIt): follow commit bdbe8fe
  src/ProveIt/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ProveIt): follow commit bdbe8fe (#616)
  src/ProveIt/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ProveIt): follow commit 052151c1
  src/ProveIt/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ProveIt): remove archive button
  src/ProveIt/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ProveIt): follow commit 052151c (#617)
  src/ProveIt/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ProveIt): try to fix 'ProveIt.Reference is not a constructor' problem
  src/ProveIt/modules/core.js
  src/UTCLiveClock/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix: try to fix 'ProveIt.Reference is not a constructor'; add localStorage.removeItem to UTCLiveClock (#618)
  src/ProveIt/modules/core.js
  src/UTCLiveClock/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

feat(remove): remove ProveIt
  src/ProveIt-pagestyles/LICENSE
  src/ProveIt-pagestyles/ProveIt-pagestyles.less
  src/ProveIt-pagestyles/definition.json
  src/ProveIt/.eslintrc
  src/ProveIt/LICENSE
  src/ProveIt/ProveIt.js
  src/ProveIt/definition.json
  src/ProveIt/modules/core.js
  src/ProveIt/modules/messages.js
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(remove): remove ProveIt (#619)
  src/ProveIt-pagestyles/LICENSE
  src/ProveIt-pagestyles/ProveIt-pagestyles.less
  src/ProveIt-pagestyles/definition.json
  src/ProveIt/.eslintrc
  src/ProveIt/LICENSE
  src/ProveIt/ProveIt.js
  src/ProveIt/definition.json
  src/ProveIt/modules/core.js
  src/ProveIt/modules/messages.js
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

build: update dist
  dist/store.txt
Due: prettier --ignore-unknown --write

build: update dist/store.txt (#620)
  dist/store.txt
Due: prettier --ignore-unknown --write

refactor: use type-only import
  src/Geo/Geo.ts
  src/i18n/modules/initI18nMethods.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: use type-only import (#621)
  src/Geo/Geo.ts
  src/i18n/modules/initI18nMethods.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(ConfirmLogout): optimize logic
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/logout.ts
  src/ConfirmLogout/modules/tryLogout.ts
  src/ConfirmLogout/modules/util/logout.ts
  src/ConfirmLogout/modules/util/refreshEventListener.ts
  src/ConfirmLogout/modules/util/showError.ts
  src/util.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(ConfirmLogout): optimize logic (#622)
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/logout.ts
  src/ConfirmLogout/modules/tryLogout.ts
  src/ConfirmLogout/modules/util/logout.ts
  src/ConfirmLogout/modules/util/refreshEventListener.ts
  src/ConfirmLogout/modules/util/showError.ts
  src/util.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build(svgo): SVG minification
  src/GeoLocationReader-pagestyles/images/helpNotice.svg
  src/WhoIsActive-pagestyles/images/userContributions-blue.svg
  src/WhoIsActive-pagestyles/images/userContributions-brown.svg
  src/WhoIsActive-pagestyles/images/userContributions-green.svg
  src/WhoIsActive-pagestyles/images/userContributions-red.svg
Due: svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

build(svgo): SVG minification (#626)
  src/GeoLocationReader-pagestyles/images/helpNotice.svg
  src/WhoIsActive-pagestyles/images/userContributions-blue.svg
  src/WhoIsActive-pagestyles/images/userContributions-brown.svg
  src/WhoIsActive-pagestyles/images/userContributions-green.svg
  src/WhoIsActive-pagestyles/images/userContributions-red.svg
Due: svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

build: update definitions
  src/AdvancedSiteNotices/definition.json
  src/FloatTOC/definition.json
Due: prettier --ignore-unknown --write

build: update definitions (#627)
  src/AdvancedSiteNotices/definition.json
  src/FloatTOC/definition.json
Due: prettier --ignore-unknown --write

refactor(AdvancedSiteNotices): remove unnecessary code
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/options.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(AdvancedSiteNotices): remove unnecessary code (#628)
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/options.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: update depenedencies
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

build: update depenedencies (#629)
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

refactor: follow adf524c
  src/AdvancedSiteNotices/modules/api.ts
  src/AjaxLogin/modules/api.ts
  src/BanPage/modules/addListener.ts
  src/BanPage/modules/api.ts
  src/Collapsible/modules/addListener.ts
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/api.ts
  src/DiffLink/modules/addPortletLink.ts
  src/DiffLink/modules/api.ts
  src/EditConflict/modules/api.ts
  src/EditConflict/modules/core.ts
  src/FloatTOC/modules/core.ts
  src/GeoLocation/GeoLocation.ts
  src/GeoLocationReader/modules/core.ts
  src/ListUsersLastActive/modules/core.ts
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/modules/core.ts
  src/NoteTA/modules/core.ts
  src/NotifyConversion/modules/core.ts
  src/OnlineAdmins/modules/core.ts
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/RRD/modules/core.ts
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/element.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
  src/ShortURL/modules/core.ts
  src/SmoothTOC/modules/core.ts
  src/SpecialWikitext/SpecialWikitext.ts
  src/Tippy/Tippy.less
  src/Toastify/Toastify.less
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/TranslateVariants/modules/core.ts
  src/UTCLiveClock/modules/core.ts
  src/WhoIsActive/modules/core.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/i18n/modules/initI18nMethods.ts
  src/i18n/modules/util/generateDefaultFallbackList.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

refactor: follow adf524c (#631)
  src/AdvancedSiteNotices/modules/api.ts
  src/AjaxLogin/modules/api.ts
  src/BanPage/modules/addListener.ts
  src/BanPage/modules/api.ts
  src/Collapsible/modules/addListener.ts
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/api.ts
  src/DiffLink/modules/addPortletLink.ts
  src/DiffLink/modules/api.ts
  src/EditConflict/modules/api.ts
  src/EditConflict/modules/core.ts
  src/FloatTOC/modules/core.ts
  src/GeoLocation/GeoLocation.ts
  src/GeoLocationReader/modules/core.ts
  src/ListUsersLastActive/modules/core.ts
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/modules/core.ts
  src/NoteTA/modules/core.ts
  src/NotifyConversion/modules/core.ts
  src/OnlineAdmins/modules/core.ts
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/RRD/modules/core.ts
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/element.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
  src/ShortURL/modules/core.ts
  src/SmoothTOC/modules/core.ts
  src/SpecialWikitext/SpecialWikitext.ts
  src/Tippy/Tippy.less
  src/Toastify/Toastify.less
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/TranslateVariants/modules/core.ts
  src/UTCLiveClock/modules/core.ts
  src/WhoIsActive/modules/core.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/i18n/modules/initI18nMethods.ts
  src/i18n/modules/util/generateDefaultFallbackList.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(AdvancedSiteNotices): sync close state
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

feat(AdvancedSiteNotices): sync close state (#632)
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

feat(CookieWarning): sync close state
  src/CookieWarning/CookieWarning.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

feat(CookieWarning): sync close state (#633)
  src/CookieWarning/CookieWarning.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: bump core-js to 3.34.0, bump typescript to 5.3.3
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

build: bump core-js to 3.34.0, bump typescript to 5.3.3 (#634)
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

fix: [lang=*] attribute is located at `<html>`, not `<body>`
  src/HistoryDisclaimer-pagestyles/HistoryDisclaimer-pagestyles.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/MarkRights-pagestyles/MarkRights-pagestyles.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/normalize.less
  src/SiteCommon/modules/print.less
  src/SkinGongbi/SkinGongbi.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix: [lang=*] attribute is located at `<html>`, not `<body>` (#635)
  src/HistoryDisclaimer-pagestyles/HistoryDisclaimer-pagestyles.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/MarkRights-pagestyles/MarkRights-pagestyles.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/normalize.less
  src/SiteCommon/modules/print.less
  src/SkinGongbi/SkinGongbi.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor: replace new mw.Api() with initMwApi()
  src/DisamAssist/modules/core.js
  src/Navigation_popups/modules/core.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleprotect.js
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: replace new mw.Api() with initMwApi() (#636)
  src/DisamAssist/modules/core.js
  src/Navigation_popups/modules/core.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleprotect.js
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --ignore-unknown --write: any of: *
