Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

refactor(QuickPatrol): split into modules; use mw.Api instead of $.ajax (#795)
  src/QuickPatrol/modules/constant.ts
  src/QuickPatrol/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Twinkle): fix typo
  src/Twinkle/modules/twinkleconfig.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(Twinkle): typo (#796)
  src/Twinkle/modules/twinkleconfig.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Twinkle): remove unused config
  src/Twinkle/modules/twinkleconfig.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Twinkle): remove unused config (#798)
  src/Twinkle/modules/twinkleconfig.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(TR): optimize as per suggestions of @AnYiEE
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(TR): use for-of and Array#push instead of $.merge (#797)
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(CAL): optimize as per suggestions of @AnYiEE
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(CAL): use mw.Api instead of $.ajax (#794)
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build(TR): update types.d.ts
  src/ToolsRedirect/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build(TR): update types.d.ts (#799)
  src/ToolsRedirect/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(Twinkle): add default value of Twinkle.prefs; add new namespaces; fix typo
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinkleconfig.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(Twinkle): add default value of Twinkle.prefs; add new NS; fix typo (#800)
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinkleconfig.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): enable this gadget by default; minor fix
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-ChineseNewYear/definition.json
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): enable this gadget by default; minor fix (#801)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-ChineseNewYear/definition.json
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): use filter instead of images
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): use filter instead of images (#802)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): fix button hover
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): fix button hover (#803)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): fix color
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): fix color (follow #802, #803, #804) (#805)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(Mainpage-ChineseNewYear): use filter instead of images
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): fix background color (#807)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): fix color (#808)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): missing !important
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): link color
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(Mainpage-ChineseNewYear): color of buttons
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(Mainpage-ChineseNewYear): color of buttons (#810)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(Report-pagestyles): background for SVGs
  src/Report-pagestyles/images/report-button.svg
Due: svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

build(HotCat): add types.d.ts
  src/HotCat/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(Report-pagestyles): background for SVG button (#811)
  src/Report-pagestyles/images/report-button.svg
Due: svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --ignore-unknown --write: any of: *
