Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --fix"],
	"*.{cjs,js,ts}": ["prettier --write", "eslint --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --ignore-unknown --write"
}

build: remove rules for disabling eslintrc rules
  src/GeoLocation/.eslintrc
  src/MarkBlocked/.eslintrc
  src/MarkBlocked/modules/core.ts
  src/ToolsRedirect/.eslintrc
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: remove rules for disabling eslintrc rules (#637)
  src/GeoLocation/.eslintrc
  src/MarkBlocked/.eslintrc
  src/MarkBlocked/modules/core.ts
  src/ToolsRedirect/.eslintrc
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(WPHL): mw.storage is always an object
  src/Wikiplus/modules/highlight.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(WPHL): mw.storage is always an object (#638)
  src/Wikiplus/modules/highlight.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(Morebits): fix `camelcase` problem
  src/morebits/.eslintrc
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(Morebits): fix camelcase problem (#639)
  src/morebits/.eslintrc
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: move `no-script-url` from `.eslintrc`s to inline comments
  src/Twinkle/.eslintrc
  src/Twinkle/modules/twinkleconfig.js
  src/morebits/.eslintrc
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: move `no-script-url` from `.eslintrc`s to inline comments (#640)
  src/Twinkle/.eslintrc
  src/Twinkle/modules/twinkleconfig.js
  src/morebits/.eslintrc
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore: follow 00d1046
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/CookieWarning/CookieWarning.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore: follow 00d1046 (#641)
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/CookieWarning/CookieWarning.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(morebits, twinkle): fix no-shadow problem
  src/Twinkle/.eslintrc
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklewarn.js
  src/morebits/.eslintrc
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(morebits, twinkle): fix no-shadow problem (#642)
  src/Twinkle/.eslintrc
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklewarn.js
  src/morebits/.eslintrc
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: bump esbuild to version 0.19.9
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

build: bump esbuild to version 0.19.9 (#643)
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

refactor(Mainpage): improve style
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(Mainpage): improve style (#645)
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): minor fix
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): minor fix (#646)
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore: update format by prettier
  src/DisamAssist/modules/core.js
  src/EasyArchive/EasyArchive.js
  src/GeoLocationReader/modules/core.ts
  src/HotCat/HotCat.js
  src/MarkRights-Userpage/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/StickyTableHeaders/modules/core.ts
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinkleunlink.js
  src/WhoIsActive/modules/core.ts
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/highlight.js
  src/morebits/morebits.js
  src/select2/select2.js
  src/util.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore: update format by prettier (#647)
  src/DisamAssist/modules/core.js
  src/EasyArchive/EasyArchive.js
  src/GeoLocationReader/modules/core.ts
  src/HotCat/HotCat.js
  src/MarkRights-Userpage/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/StickyTableHeaders/modules/core.ts
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinkleunlink.js
  src/WhoIsActive/modules/core.ts
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/highlight.js
  src/morebits/morebits.js
  src/select2/select2.js
  src/util.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(mainpage): add styles for .mainpage-top-menu
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore: minor fix
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/groupShow.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): minor fix (#648)
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/groupShow.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): fix styles for .mainpage-top-menu
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/groupShow.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): fix styles for .mainpage-top-menu (#649)
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/groupShow.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): fix styles for .mainpage-top-menu and .mainpage-link-button
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): fix styles for .mainpage-top-menu and .mainpage-link-button (#650)
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): fix styles for .mainpage-link-button
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): fix styles for .mainpage-link-button (#651)
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(AjaxLogin): display `messagecode` when login failed
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/i18n.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(AjaxLogin): display `messagecode` when login failed (#652)
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/i18n.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: remove unnecessary template literals
  src/AjaxLogin/modules/core.ts
  src/GeoLocationReader/modules/core.ts
  src/LoginToEdit/modules/core.ts
  src/QuickPatrol/modules/core.ts
  src/Report/modules/fillSpecialPage.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: remove unnecessary template literals (#653)
  src/AjaxLogin/modules/core.ts
  src/GeoLocationReader/modules/core.ts
  src/LoginToEdit/modules/core.ts
  src/QuickPatrol/modules/core.ts
  src/Report/modules/fillSpecialPage.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(AjaxLogin): redirect when receiving unexpected API response
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/i18n.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(AjaxLogin): redirect when receiving unexpected API response (#654)
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/i18n.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

docs(tippy.js): add description
  src/Tippy/definition.json
Due: prettier --ignore-unknown --write

docs(Toastify.js): add description
  src/Toastify/definition.json
Due: prettier --ignore-unknown --write
