Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --fix"],
	"*.{cjs,js,ts}": ["prettier --write", "eslint --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --ignore-unknown --write"
}

refactor(WordCount): refactor
  src/WordCount/WordCount.tsx
  src/WordCount/definition.json
Due: prettier --ignore-unknown --write

fix(WordCount): typo
  src/WordCount/modules/i18n.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(Group-user_JS/fixSummary): remove 'disabled' property (#868)
  src/Group-user_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(WordCount): to TSX (#869)
  dist/store.txt
  src/WordCount/WordCount.less
  src/WordCount/WordCount.ts
  src/WordCount/components/WordCount.tsx
  src/WordCount/definition.json
  src/WordCount/modules/addListener.ts
  src/WordCount/modules/constant.ts
  src/WordCount/modules/core.ts
  src/WordCount/modules/getCount.ts
  src/WordCount/modules/i18n.ts
  src/WordCount/modules/util/countByte.ts
  src/WordCount/modules/util/countCJK.ts
  src/WordCount/modules/util/countLength.ts
  src/WordCount/modules/wordCount.tsx
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

fix(PagePatroller): missing dependencies (#874)
  src/PagePatroller/definition.json
Due: prettier --ignore-unknown --write

fix(PagePatroller): missing dependencies
  src/PagePatroller/definition.json
Due: prettier --ignore-unknown --write

refactor(ScrollUpButton): use React
  src/ScrollUpButton/definition.json
  src/ScrollUpButton/modules/element.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(ScrollUpButton): use React
  src/ScrollUpButton/components/scrollButton.tsx
Due: prettier --ignore-unknown --write

refactor(ScrollUpButton): to TSX (#875)
  src/ScrollUpButton/components/scrollButton.tsx
  src/ScrollUpButton/definition.json
  src/ScrollUpButton/modules/element.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Report): to TSX
  src/Report/Report.ts
  src/Report/components/button.tsx
  src/Report/modules/addButton.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Report): to TSX
  src/Report/definition.json
Due: prettier --ignore-unknown --write

refactor(Report): to TSX (#876)
  src/Report/Report.ts
  src/Report/components/button.tsx
  src/Report/definition.json
  src/Report/modules/addButton.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Report): to TSX
  src/Report/Report.ts
  src/Report/components/button.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Report): to TSX
  src/Report/modules/addButton.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Report): to TSX (#877)
  src/Report/Report.ts
  src/Report/components/button.tsx
  src/Report/modules/addButton.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Report): to TSX
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Report-pagestyles/Report-pagestyles.less
  src/Report/components/button.tsx
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(Report): to TSX (#878)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Report-pagestyles/Report-pagestyles.less
  src/Report/components/button.tsx
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

docs(Util): update comments
  src/Util/modules/initMwApi.ts
  src/Util/modules/oouiConfirmWithStyle.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

docs(Util): update comments (#879)
  src/Util/modules/initMwApi.ts
  src/Util/modules/oouiConfirmWithStyle.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(ScrollUpButton): to TSX (#875)
  src/Report/components/button.tsx
  src/Report/definition.json
  src/Report/modules/addButton.ts
  src/ScrollUpButton/components/scrollButton.tsx
  src/ScrollUpButton/definition.json
  src/ScrollUpButton/modules/element.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

docs(Util): update comments (#880)
  src/Util/modules/initMwApi.ts
  src/Util/modules/oouiConfirmWithStyle.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Report): to TSX (#876)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Report-pagestyles/Report-pagestyles.less
  src/Report/components/button.tsx
  src/Report/definition.json
  src/Report/modules/addButton.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

refactor: add 'noopener,noreferrer' to window.open()
  src/Report-pagestyles/Report-pagestyles.less
  src/Report/components/button.tsx
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

refactor: add 'noopener,noreferrer' to window.open() (#881)
  src/Report-pagestyles/Report-pagestyles.less
  src/Report/components/button.tsx
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

fix(mbox): remove padding of .mbox-{above, below}
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(mbox): remove padding of .mbox-{above, below} (#882)
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(GeoLocationReader): use JSX
  src/GeoLocationReader/definition.json
  src/GeoLocationReader/modules/appendGeoIcon.tsx
Due: prettier --ignore-unknown --write

refactor(GeoLocationReader): use JSX (#883)
  src/GeoLocationReader/definition.json
  src/GeoLocationReader/modules/appendGeoIcon.tsx
Due: prettier --ignore-unknown --write

refactor(MarkRights-Userpage, WhoIsActive): use JSX
  src/MarkRights-Userpage/definition.json
  src/MarkRights-Userpage/modules/constant.ts
  src/MarkRights-Userpage/modules/core.tsx
  src/WhoIsActive/definition.json
  src/WhoIsActive/modules/constant.ts
  src/WhoIsActive/modules/core.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(MarkRights-Userpage, WhoIsActive): use JSX
  src/GeoLocationReader/modules/appendGeoIcon.tsx
Due: prettier --ignore-unknown --write

refactor(MarkRights-Userpage, WhoIsActive): use JSX
  src/MarkRights-Userpage/modules/core.tsx
  src/WhoIsActive/modules/core.tsx
Due: prettier --ignore-unknown --write

refactor(SiteCommon_JS, TranslateVariants): use JSX
  src/SiteCommon_JS/definition.json
  src/SiteCommon_JS/modules/core.tsx
  src/SiteCommon_JS/modules/i18n.ts
  src/TranslateVariants/modules/core.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(SiteCommon_JS, TranslateVariants): use JSX
  src/TranslateVariants/definition.json
Due: prettier --ignore-unknown --write

refactor(MarkRights-Userpage, WhoIsActive): use JSX/TSX (#884)
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/MarkRights-Userpage/definition.json
  src/MarkRights-Userpage/modules/constant.ts
  src/MarkRights-Userpage/modules/core.tsx
  src/SiteCommon_JS/definition.json
  src/SiteCommon_JS/modules/core.tsx
  src/SiteCommon_JS/modules/i18n.ts
  src/TranslateVariants/definition.json
  src/TranslateVariants/modules/core.tsx
  src/WhoIsActive/definition.json
  src/WhoIsActive/modules/constant.ts
  src/WhoIsActive/modules/core.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(ASN): use TSX
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/loadRemoteNotices.tsx
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/modules/util/generateArea.ts
  src/AdvancedSiteNotices/modules/util/generateArea.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(AKC): use TSX
  src/AccessKeyCheatsheet/definition.json
  src/AccessKeyCheatsheet/modules/util/generateElements.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(AKC): use TSX
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
Due: prettier --ignore-unknown --write

refactor(ASN; AccessKeyCheatsheet): use TSX (#885)
  src/AccessKeyCheatsheet/definition.json
  src/AccessKeyCheatsheet/modules/util/generateElements.ts
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/loadRemoteNotices.tsx
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/modules/util/generateArea.ts
  src/AdvancedSiteNotices/modules/util/generateArea.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write
