Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --fix"],
	"*.{cjs,js,ts}": ["prettier --write", "eslint --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --ignore-unknown --write"
}

chore(ShortURL): use BEM
  src/ShortURL-pagestyles/ShortURL-pagestyles.less
  src/ShortURL/modules/core.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

fix(Mainpage): styles for images inside link-button under dark mode
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(ShortURL): use BEM (#741)
  src/ShortURL-pagestyles/ShortURL-pagestyles.less
  src/ShortURL/modules/core.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

fix(Mainpage): styles for images inside link-button under dark mode (#742)
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(MarkBlocked): split into modules
  src/MarkBlocked-pagestyles/MarkBlocked-pagestyles.less
  src/MarkBlocked/MarkBlocked.ts
  src/MarkBlocked/definition.json
  src/MarkBlocked/modules/addHook.ts
  src/MarkBlocked/modules/api.ts
  src/MarkBlocked/modules/constant.ts
  src/MarkBlocked/modules/core.ts
  src/MarkBlocked/modules/i18n.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MarkBlocked/modules/util/generateUserNamespaceTitles.ts
  src/MarkBlocked/modules/util/parseTime.ts
  src/MarkBlocked/options.json
  src/MwApiParams.d.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

refactor(MarkBlocked): split into modules (#743)
  src/MarkBlocked-pagestyles/MarkBlocked-pagestyles.less
  src/MarkBlocked/MarkBlocked.ts
  src/MarkBlocked/definition.json
  src/MarkBlocked/modules/addHook.ts
  src/MarkBlocked/modules/api.ts
  src/MarkBlocked/modules/constant.ts
  src/MarkBlocked/modules/core.ts
  src/MarkBlocked/modules/i18n.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MarkBlocked/modules/util/generateUserNamespaceTitles.ts
  src/MarkBlocked/modules/util/parseTime.ts
  src/MarkBlocked/options.json
  src/MwApiParams.d.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

fix(MarkBlocked): failed to construct 'URL': Invalid URL
  src/MarkBlocked/modules/util/.eslintrc
  src/MarkBlocked/modules/util/generateUserLinks.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(MarkBlocked): failed to construct 'URL': Invalid URL (#744)
  src/MarkBlocked/modules/util/.eslintrc
  src/MarkBlocked/modules/util/generateUserLinks.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(GadgetsDefinition): typo
  src/GadgetsDefinition/GadgetsDefinition.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(GadgetsDefinition): typo (#745)
  src/GadgetsDefinition/GadgetsDefinition.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(EditConflict): fix type definitions
  src/EditConflict/modules/getCurrentRevisionId.ts
  src/EditConflict/modules/util/queryPageInfo.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(EditConflict): fix type definitions (#748)
  src/EditConflict/modules/getCurrentRevisionId.ts
  src/EditConflict/modules/util/queryPageInfo.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

ci: remove Dependabot locally
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

refactor(RRD): refactor; add types
  src/RRD/modules/core.ts
  src/RRD/modules/types.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(RRD): refactor; add types (#749)
  src/RRD/modules/core.ts
  src/RRD/modules/types.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: `Object.hasOwn()` inside for-loop
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/HotCat/HotCat.js
  src/Wikicache/modules/core.js
  src/morebits/morebits.js
  src/select2/select2.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: `Object.hasOwn()` inside for-loop
  src/SpecialWikitext/SpecialWikitext.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: `Object.hasOwn()` inside for-loop
  src/NoteTA/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(NoteTA): replace Object.getOwnPropertyDescriptor with Object.hasOwn
  src/NoteTA/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(NoteTA): replace `Object.getOwnPropertyDescriptor` with `Object.hasOwn` (#751)
  src/NoteTA/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: Object.hasOwn() inside for-loop
  src/NoteTA/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: Object.hasOwn() inside for-loop (#750)
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/HotCat/HotCat.js
  src/NoteTA/modules/core.ts
  src/SpecialWikitext/SpecialWikitext.ts
  src/Wikicache/modules/core.js
  src/morebits/morebits.js
  src/select2/select2.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(Morebits): caught 'Error: no jquery.select2'
  src/morebits/definition.json
Due: prettier --ignore-unknown --write

fix(Morebits): caught 'Error: no jquery.select2' (#752)
  src/morebits/definition.json
Due: prettier --ignore-unknown --write

fix(select2): revert changes introduced in commit 5da5e57b
  src/select2/select2.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(select2): revert changes introduced in commit 5da5e57 (#753)
  src/select2/select2.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: merge array destructing pattern
  src/EasyArchive/EasyArchive.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: array-destructing assignment (#754)
  src/EasyArchive/EasyArchive.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(RefToolBar2.0): switch to format API version 2
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(PagePatroller): replace $.ajax with mw.Api#get
  src/PagePatroller/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(RefToolBar2.0): switch to format API version 2 (#755)
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(PagePatroller): replace $.ajax with mw.Api#get (#756)
  src/PagePatroller/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(RefToolBar2.0): fix format
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(RefToolBar2.0): fix format (#757)
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(CAL): switch to API format version 2
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(CAL): switch to API format version 2 (#758)
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(HotCat): switch to API format version 2; use class
  src/HotCat/HotCat.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(RefToolbar): follow 41c61fbd
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(RefToolbar): follow 41c61fbd (#759)
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(HotCat): switch to API format version 2; use class (#760)
  src/HotCat/HotCat.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write
