Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

refactor: fix JSX/TSX
  src/AdvancedSiteNotices/modules/loadRemoteNotices.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/MarkRights-Userpage/modules/core.tsx
  src/TranslateVariants/modules/core.tsx
  src/WhoIsActive/modules/core.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: fix jsx() and TSX (#886)
  src/AdvancedSiteNotices/modules/loadRemoteNotices.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/MarkRights-Userpage/modules/core.tsx
  src/TranslateVariants/modules/core.tsx
  src/WhoIsActive/modules/core.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(variables): remove fonts unsupported by FireFox (see <https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop>)
  src/variables.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(variables): remove fonts unsupported by FireFox (#887)
  src/variables.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

update dist
  dist/Edit0/Edit0.css
  dist/MarkRights/MarkRights.js
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/WhoIsActive/WhoIsActive.js
  dist/Wikiplus/Wikiplus.css
  dist/store.txt
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

build: update dist (#888)
  dist/Edit0/Edit0.css
  dist/MarkRights/MarkRights.js
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/WhoIsActive/WhoIsActive.js
  dist/Wikiplus/Wikiplus.css
  dist/store.txt
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

update dist
  dist/MarkRights/MarkRights.js
  dist/WhoIsActive/WhoIsActive.js
  dist/store.txt
  src/global.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(variables): remove fonts unsupported by FireFox (#887)
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Wikiplus/Wikiplus.css
  dist/store.txt
  src/global.json
  src/variables.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix: revert commit d85424d1
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Wikiplus/Wikiplus.css
  src/variables.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(variables): revert commit d85424d1 (#890)
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Wikiplus/Wikiplus.css
  src/variables.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

build: update page
  dist/MarkRights/MarkRights.js
  dist/NotifyConversion/NotifyConversion.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/WhoIsActive/WhoIsActive.js
  dist/store.txt
  src/DidYouMean/definition.json
  src/DisamAssist-pagestyles/definition.json
  src/DisamAssist/definition.json
  src/EnhancedSpecialSearch/definition.json
  src/Geo/definition.json
  src/GeoLocation/definition.json
  src/GeoLocationReader-pagestyles/definition.json
  src/MarkRights/modules/core.ts
  src/NotifyConversion-pagestyles/definition.json
  src/NotifyConversion/definition.json
  src/NotifyConversion/modules/core.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/Twinkle/definition.json
  src/UserRightsManager/definition.json
  src/WhoIsActive/modules/core.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: update (#891)
  dist/MarkRights/MarkRights.js
  dist/NotifyConversion/NotifyConversion.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/WhoIsActive/WhoIsActive.js
  dist/store.txt
  src/DidYouMean/definition.json
  src/DisamAssist-pagestyles/definition.json
  src/DisamAssist/definition.json
  src/EnhancedSpecialSearch/definition.json
  src/Geo/definition.json
  src/GeoLocation/definition.json
  src/GeoLocationReader-pagestyles/definition.json
  src/MarkRights/modules/core.ts
  src/NotifyConversion-pagestyles/definition.json
  src/NotifyConversion/definition.json
  src/NotifyConversion/modules/core.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/Twinkle/definition.json
  src/UserRightsManager/definition.json
  src/WhoIsActive/modules/core.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(NospzGothic): update LICENSE block
  dist/NospzGothic/NospzGothic.css
  src/NospzGothic/LICENSE
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(NospzGothic): update LICENSE block (#892)
  dist/NospzGothic/NospzGothic.css
  src/NospzGothic/LICENSE
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(TranslateVariants): fix TSX
  src/TranslateVariants/modules/core.tsx
Due: prettier --ignore-unknown --write

fix(TranslateVariants): fix TSX (#893)
  src/TranslateVariants/modules/core.tsx
Due: prettier --ignore-unknown --write

build: update dist; update build settings
  dist/QuickImport/QuickImport.js
  dist/QuickPatrol/QuickPatrol.js
  dist/RRD/RRD.js
  dist/TranslateVariants/TranslateVariants.js
  src/QuickImport/QuickImport.ts
  src/QuickPatrol/modules/core.ts
  src/RRD/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(TranslateVariants): fix TSX (#893)
  dist/QuickImport/QuickImport.js
  dist/QuickPatrol/QuickPatrol.js
  dist/RRD/RRD.js
  dist/TranslateVariants/TranslateVariants.js
  src/QuickImport/QuickImport.ts
  src/QuickPatrol/modules/core.ts
  src/RRD/modules/core.ts
  src/TranslateVariants/modules/core.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: re-generate deleted page targets
  dist/React/React.js
  dist/store.txt
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(OnlineAdmins): update format and type comments
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/core.ts
  src/global.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

update store.txt
  dist/store.txt
Due: prettier --ignore-unknown --write

chore(OnlineAdmins): update format and type comments (#895)
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/core.ts
  src/global.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

update store.txt (#896)
  dist/store.txt
Due: prettier --ignore-unknown --write

chore(OnlineAdmins): update format and type comments (#895)
  dist/OnlineAdmins/OnlineAdmins.js
  dist/store.txt
  src/OnlineAdmins/modules/core.ts
  src/global.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: update definitions.txt, store.txt and definition.json
  dist/definition.txt
  dist/store.txt
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage/definition.json
  src/Mainpage_JS/definition.json
Due: prettier --ignore-unknown --write

refactor(AccessKeyCheatsheet): to TSX
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(AccessKeyCheatsheet): to TSX (#898)
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build(site): add licencewiki
  dist/definition.txt
  dist/store.txt
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage/definition.json
  src/Mainpage_JS/definition.json
  src/global.json
Due: prettier --ignore-unknown --write

chore: sort configs
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage/definition.json
  src/global.json
Due: prettier --ignore-unknown --write

refactor(AdvancedSiteNotices): to TSX
  src/AdvancedSiteNotices/modules/loadRemoteNotices.tsx
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/modules/util/generateArea.tsx
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(AdvancedSiteNotices): to TSX (#899)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  src/AdvancedSiteNotices/modules/loadRemoteNotices.tsx
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/modules/util/generateArea.tsx
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(CookieWarning): add a function to clear old cookies under subdomains
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/CookieWarning.tsx
  src/CookieWarning/modules/constant.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(CookieWarning): add a function to clear old cookies under subdomains
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/modules/clearCookies.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(CookieWarning): add a function to clear old cookies under subdomains (#900)
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/CookieWarning.tsx
  src/CookieWarning/modules/clearCookies.ts
  src/CookieWarning/modules/constant.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: split constant WG_WIKI_ID
  src/CookieWarning/CookieWarning.tsx
  src/CookieWarning/modules/clearCookies.ts
  src/DisamAssist/modules/config.ts
  src/DisamAssist/modules/constant.ts
  src/DisamAssist/modules/core.js
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/constant.ts
  src/MarkRights-Userpage/modules/constant.ts
  src/MarkRights-Userpage/modules/core.tsx
  src/MarkRights/modules/constant.ts
  src/MarkRights/modules/core.ts
  src/UTCLiveClock/modules/constant.ts
  src/UTCLiveClock/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

update dist
  dist/CookieWarning/CookieWarning.js
  dist/DisamAssist/DisamAssist.js
  dist/EasyArchive/EasyArchive.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  dist/UTCLiveClock/UTCLiveClock.js
  src/DisamAssist/modules/constant.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: split constant WG_WIKI_ID (#901)
  dist/CookieWarning/CookieWarning.js
  dist/DisamAssist/DisamAssist.js
  dist/EasyArchive/EasyArchive.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  dist/UTCLiveClock/UTCLiveClock.js
  src/CookieWarning/CookieWarning.tsx
  src/CookieWarning/modules/clearCookies.ts
  src/DisamAssist/modules/config.ts
  src/DisamAssist/modules/constant.ts
  src/DisamAssist/modules/core.js
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/constant.ts
  src/MarkRights-Userpage/modules/constant.ts
  src/MarkRights-Userpage/modules/core.tsx
  src/MarkRights/modules/constant.ts
  src/MarkRights/modules/core.ts
  src/UTCLiveClock/modules/constant.ts
  src/UTCLiveClock/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --ignore-unknown --write: any of: *
