Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

fix(TR): replace .done with .then
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(TR): replace `.done` with `.then` (#829)
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(TR): fix this
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(TR): fix this (#830)
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(TR): add .trim() and .eq(0)
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(CAL): rewrite promise
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(CAL): rewrite promise inside findAllVariants()
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(TR): add .trim() and .eq(0) (#831)
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(CAL): rewrite promise inside findAllVariants() (#832)
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: add variants
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
  src/ToolsRedirect/modules/constant.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: add variants (#833)
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
  src/ToolsRedirect/modules/constant.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(TR): fix this (#834)
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: trim the matched string
  src/AccessKeyCheatsheet/modules/util/generateElements.ts
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: trim the matched string (#835)
  src/AccessKeyCheatsheet/modules/util/generateElements.ts
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ASN): the element height should increase with the number of text fix(ASN): adjust text color
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(ASN): the element height should increase with the number of text (#836)
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(ASN): display by default when no criteria is specified
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ASN): display by default when no criteria is specified (#837)
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(ASN): replace `Array.push()` to avoid polyfilling core-js
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(ASN): replace `Array.push()` to avoid polyfilling core-js (#838)
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(SiteCommon/mbox): follow commit 42d38d49
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/mbox): follow commit 42d38d49 (#839)
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/mbox): follow commit ed20bfac
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/mbox): follow commit ed20bfac (#840)
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore: update format * URL in comments * Promises * rest parameters
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/modules/core.ts
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
  src/Cat-a-lot/modules/messages.ts
  src/HotCat/HotCat.js
  src/Mainpage-ChineseNewYear/LICENSE
  src/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/highlight.js
  src/Wikiplus/style-modules/core.less
  src/Wikiplus/style-modules/highlight.less
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

chore: update format (#841)
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/modules/core.ts
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
  src/Cat-a-lot/modules/messages.ts
  src/HotCat/HotCat.js
  src/Mainpage-ChineseNewYear/LICENSE
  src/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/highlight.js
  src/Wikiplus/style-modules/core.less
  src/Wikiplus/style-modules/highlight.less
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

fix(CAL): fix bug * wrongly remove category when moving between categories * -1 => 0
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(Twinkle): add default value of Twinkle.prefs; add new NS; fix typo (#800)
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinkleconfig.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): enable this gadget by default; minor fix (#801)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-ChineseNewYear/definition.json
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(Mainpage-ChineseNewYear): use filter instead of images
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-ChineseNewYear/images/close.svg
  src/Mainpage-ChineseNewYear/images/darkmode-button.svg
  src/Mainpage-ChineseNewYear/images/logo.svg
  src/Mainpage-ChineseNewYear/images/mainpage-slogan.svg
  src/Mainpage-ChineseNewYear/images/scroll-button.svg
  src/Mainpage-ChineseNewYear/images/sidebarButton-collapse.svg
  src/Mainpage-ChineseNewYear/images/sidebarButton-expand.svg
  src/Mainpage-ChineseNewYear/images/square.svg
  src/Mainpage-ChineseNewYear/images/wordmark.svg
Due: prettier --write, stylelint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

refactor(HotCat): add types.d.ts (#812)
  src/HotCat/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(URM): rename variables (#815)
  src/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/constant.js
  src/UserRightsManager/modules/constant.ts
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(refToolbar): optimize logic
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(ToolsRedirect): optimize logic
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: remove `async/await` that is only used once (#821)
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AddSectionPlus/AddSectionPlus.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AutoLink/AutoLink.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/BanPage/BanPage.ts
  src/BanPage/modules/addPortletLink.ts
  src/CodeLinks/CodeLinks.ts
  src/ConfirmLogout/ConfirmLogout.ts
  src/CookieWarning/CookieWarning.ts
  src/DidYouMean/DidYouMean.ts
  src/Edit0/Edit0.ts
  src/Edit0/modules/core.ts
  src/EditForm_JS/EditForm_JS.ts
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): remove `default: true` tag (#828)
  src/Mainpage-ChineseNewYear/definition.json
Due: prettier --ignore-unknown --write

fix(DefaultSummaries): typo in commit 41102aa (#820)
  src/DefaultSummaries/modules/processVisualEditor.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: adjust styles
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/Mainpage/Mainpage.less
  src/Report-pagestyles/images/report-button.svg
  src/SiteCommon/modules/filePage.less
  src/SiteCommon/modules/mbox.less
  src/variables.less
Due: prettier --write, stylelint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

refactor(EditFormJS): remove forcePreview (with bug) (#819)
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/forcePreview.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --ignore-unknown --write: any of: *
