Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

refactor(mw.hook): follow 22aee76
  src/Collapsible/modules/addHook.ts
  src/CopyCodeBlock/CopyCodeBlock.ts
  src/DiffLink/DiffLink.ts
  src/EditForm_JS/EditForm_JS.ts
  src/MarkBlocked/MarkBlocked.ts
  src/MarkRights/MarkRights.ts
  src/NavFrame/modules/core.ts
  src/NoteTA/modules/core.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/RollbackSummary/modules/core.ts
  src/ShortURL/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(mw.hook): follow 22aee76 (#660)
  src/Collapsible/modules/addHook.ts
  src/CopyCodeBlock/CopyCodeBlock.ts
  src/DiffLink/DiffLink.ts
  src/EditForm_JS/EditForm_JS.ts
  src/MarkBlocked/MarkBlocked.ts
  src/MarkRights/MarkRights.ts
  src/NavFrame/modules/core.ts
  src/NoteTA/modules/core.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/RollbackSummary/modules/core.ts
  src/ShortURL/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

build: update dependencies
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

fix(morebits): fix Morebits.date
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(URM): fix $body
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(URM): follow c33adbf
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(PrintOptions): fix $body
  src/PrintOptions/PrintOptions.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix: fix Morebits.date and $body (#662)
  src/UserRightsManager/modules/core.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix $body (#663)
  src/PrintOptions/PrintOptions.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(URM): fix $body (#664)
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

feat(util): add `getBody` method to query body element
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AddSectionPlus/AddSectionPlus.ts
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/AdvancedSiteNotices/modules/util/generateArea.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AutoLink/AutoLink.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/BanPage/BanPage.ts
  src/BanPage/modules/addPortletLink.ts
  src/util.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

feat(util): add `getBody` method to query body element (#665)
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AddSectionPlus/AddSectionPlus.ts
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/AdvancedSiteNotices/modules/util/generateArea.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AutoLink/AutoLink.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/BanPage/BanPage.ts
  src/BanPage/modules/addPortletLink.ts
  src/util.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(CodeLinks): optimize logic
  src/CodeLinks/CodeLinks.ts
  src/CodeLinks/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(CodeLinks): optimize logic (#666)
  src/CodeLinks/CodeLinks.ts
  src/CodeLinks/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: follow fd92650
  src/ConfirmLogout/ConfirmLogout.ts
  src/CookieWarning/CookieWarning.ts
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/DidYouMean/DidYouMean.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: follow fd92650 (#667)
  src/ConfirmLogout/ConfirmLogout.ts
  src/CookieWarning/CookieWarning.ts
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/DidYouMean/DidYouMean.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: follow fd92650
  src/Edit0/Edit0.ts
  src/Edit0/modules/core.ts
  src/EditConflict/EditConflict.ts
  src/EditConflict/modules/core.ts
  src/EditForm_JS/EditForm_JS.ts
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
  src/Edittools-customizeToolbar/modules/types.d.ts
  src/Edittools-delh/modules/core.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-vector/Edittools-vector.ts
  src/Edittools-vplus/modules/edittoolsVplus.ts
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
  src/FloatTOC/FloatTOC.ts
  src/FloatTOC/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: follow fd92650 (#668)
  src/Edit0/Edit0.ts
  src/Edit0/modules/core.ts
  src/EditConflict/EditConflict.ts
  src/EditConflict/modules/core.ts
  src/EditForm_JS/EditForm_JS.ts
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
  src/Edittools-customizeToolbar/modules/types.d.ts
  src/Edittools-delh/modules/core.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-vector/Edittools-vector.ts
  src/Edittools-vplus/modules/edittoolsVplus.ts
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
  src/FloatTOC/FloatTOC.ts
  src/FloatTOC/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(customizeToolbar): use type-only import
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(customizeToolbar): use type-only import (#669)
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(util): optimize logic
  src/DidYouMean/DidYouMean.ts
  src/util.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(util): optimize logic (#670)
  src/DidYouMean/DidYouMean.ts
  src/util.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(SpecialWikitext): jQuery element length check and mw.hook callback
  src/SpecialWikitext/SpecialWikitext.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(SpecialWikitext): jQuery element length check and mw.hook callback (#671)
  src/SpecialWikitext/SpecialWikitext.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(FoldRef): separate into modules
  src/FoldRef/FoldRef.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(FoldRef): separate into modules (#672)
  src/FoldRef/FoldRef.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(FoldRef): improve style
  src/FoldRef-pagestyles/FoldRef-pagestyles.less
  src/FoldRef/modules/constant.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

refactor(FoldRef): improve style (#673)
  src/FoldRef-pagestyles/FoldRef-pagestyles.less
  src/FoldRef/modules/constant.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

docs(FoldRef): update description
  src/FoldRef/definition.json
Due: prettier --ignore-unknown --write

docs(FoldRef): update description (#674)
  src/FoldRef/definition.json
Due: prettier --ignore-unknown --write

feat: remove support for Write skin
  src/AddSectionPlus/AddSectionPlus.ts
  src/EasyArchive/EasyArchive.js
  src/EditCount/definition.json
  src/GeoLocationReader/modules/core.ts
  src/HistoryDisclaimer-pagestyles/HistoryDisclaimer-pagestyles.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/MarkRights-Userpage/modules/core.ts
  src/SkinWrite/LICENSE
  src/SkinWrite/SkinWrite.less
  src/SkinWrite/definition.json
  src/StickyTableHeaders/definition.json
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinkleconfig.js
  src/WhoIsActive/modules/core.ts
  src/Wikiplus/Wikiplus.less
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat: remove support for Write skin (#675)
  src/AddSectionPlus/AddSectionPlus.ts
  src/EasyArchive/EasyArchive.js
  src/EditCount/definition.json
  src/GeoLocationReader/modules/core.ts
  src/HistoryDisclaimer-pagestyles/HistoryDisclaimer-pagestyles.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/MarkRights-Userpage/modules/core.ts
  src/SkinWrite/LICENSE
  src/SkinWrite/SkinWrite.less
  src/SkinWrite/definition.json
  src/StickyTableHeaders/definition.json
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinkleconfig.js
  src/WhoIsActive/modules/core.ts
  src/Wikiplus/Wikiplus.less
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

build: follow #675
  dist/store.txt
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

build: #675
  dist/store.txt
Due: prettier --ignore-unknown --write

docs: fix missing translation in README
  README.md
Due: prettier --ignore-unknown --write

docs: fix missing translation in README (#676)
  README.md
Due: prettier --ignore-unknown --write

refactor: remove unnecessary optional parameters
  src/GadgetsDefinition/modules/core.ts
  src/GeoLocationReader/modules/core.ts
  src/WhoIsActive/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --ignore-unknown --write: any of: *
