Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --fix"],
	"*.{cjs,js,ts}": ["prettier --write", "eslint --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --ignore-unknown --write"
}

refactor(ASN): replace `Array.push()` to avoid polyfilling core-js (#838)
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ASN): display by default when no criteria is specified (#837)
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: trim the matched string (#835)
  src/AccessKeyCheatsheet/modules/util/generateElements.ts
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

docs: update license information (#841)
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/modules/core.ts
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
  src/Cat-a-lot/modules/messages.ts
  src/HotCat/HotCat.js
  src/Mainpage-ChineseNewYear/LICENSE
  src/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/highlight.js
  src/Wikiplus/style-modules/core.less
  src/Wikiplus/style-modules/highlight.less
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

refactor(Cat-a-lot): optimize logic
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
  src/ToolsRedirect/modules/constant.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(ASN): the element height should increase with the number of text (#836)
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(ASN): capture exceptions that may be thrown by `mw.Uri.decode` chore(ASN): improve translation
  src/AdvancedSiteNotices/modules/i18n.ts
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(ASN): capture exceptions that may be thrown by `mw.Uri.decode` (#843)
  src/AdvancedSiteNotices/modules/i18n.ts
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(SiteCommon/mbox): adjust styles for {{mbox}} and {{fmbox}}
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

follow last commit
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(SiteCommon/mbox): adjust styles for {{mbox}} and {{fmbox}} (#844)
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

feat: add filter-altered-clicks as dependency
  package.json
  pnpm-lock.yaml
  src/FilterAlteredClicks/FilterAlteredClicks.ts
  src/FilterAlteredClicks/LICENSE
  src/FilterAlteredClicks/definition.json
  src/FilterAlteredClicks/modules/global.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

feat: add filter-altered-clicks as dependency (#845)
  package.json
  pnpm-lock.yaml
  src/FilterAlteredClicks/FilterAlteredClicks.ts
  src/FilterAlteredClicks/LICENSE
  src/FilterAlteredClicks/definition.json
  src/FilterAlteredClicks/modules/global.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build: #845 #846
  dist/store.txt
Due: prettier --ignore-unknown --write

fix: middle-clicking on a link should open it in a new tab
  src/AjaxLogin/modules/addListener.ts
  src/ConfirmLogout/modules/util/refreshEventListener.ts
  src/FloatTOC/modules/core.ts
  src/RollbackSummary/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix: altered-clicking on a link should open it in a new tab (#847)
  src/AjaxLogin/definition.json
  src/AjaxLogin/modules/addListener.ts
  src/ConfirmLogout/definition.json
  src/ConfirmLogout/modules/util/refreshEventListener.ts
  src/FloatTOC/definition.json
  src/FloatTOC/modules/core.ts
  src/RollbackSummary/definition.json
  src/RollbackSummary/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(SiteCommonJS/TitleCleanup): stop cleaning up on user pages
  src/SiteCommon_JS/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(SiteCommonJS/TitleCleanup): stop cleaning up on user pages (#848)
  src/SiteCommon_JS/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(select2): add quotes
  .prettierignore
  src/select2/select2.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(select2): add quotes (#849)
  .prettierignore
  src/select2/select2.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(FloatTOC): icon is missing after using VE
  src/FloatTOC/FloatTOC.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(ASN): hide ASN when VE is activated
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(FloatTOC): icon is missing after using VE (#850)
  src/FloatTOC/FloatTOC.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(ASN): hide ASN when VE is activated (#851)
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

build: deploy some pages directly
  dist/store.txt
  src/global.json
Due: prettier --ignore-unknown --write

fix: add mw-halign-* to comply with MediaWiki 1.40
  src/Mainpage/Mainpage.less
  src/ResponsiveContent/ResponsiveContent.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix: add mw-halign-* to comply with MediaWiki 1.40 (#852)
  src/Mainpage/Mainpage.less
  src/ResponsiveContent/ResponsiveContent.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/talkpage): make `.ext-discussiontools-ui-replyWidget` float
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/talkpage): make `.ext-discussiontools-ui-replyWidget` float (#853)
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/talkpage): follow commit c35d4d57
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/mbox): update yellow-color style
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/talkpage): follow PR #853 (#855)
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/mbox): update yellow-color style (#854)
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write
