Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

build(HotCat): add types.d.ts (#812)
  src/HotCat/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build(refToolbar): add types.d.ts
  src/Edittools-refToolbar/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(refToolbar): missing `...`
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build(refToolbar): add types.d.ts (#814)
  src/Edittools-refToolbar/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(refToolbar): missing rest parameter (#813)
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(URM): rename variables
  src/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/constant.js
  src/UserRightsManager/modules/constant.ts
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Mainpage-ChineseNewYear): optimize
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-ChineseNewYear/images/close.svg
  src/Mainpage-ChineseNewYear/images/darkmode-button.svg
  src/Mainpage-ChineseNewYear/images/logo.svg
  src/Mainpage-ChineseNewYear/images/mainpage-slogan.svg
  src/Mainpage-ChineseNewYear/images/scroll-button.svg
  src/Mainpage-ChineseNewYear/images/sidebarButton-collapse.svg
  src/Mainpage-ChineseNewYear/images/sidebarButton-expand.svg
  src/Mainpage-ChineseNewYear/images/square.svg
  src/Mainpage-ChineseNewYear/images/wordmark.svg
Due: prettier --write, stylelint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

refactor(URM): rename variables (#815)
  src/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/constant.js
  src/UserRightsManager/modules/constant.ts
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Mainpage-ChineseNewYear): optimize (#816)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-ChineseNewYear/images/close.svg
  src/Mainpage-ChineseNewYear/images/darkmode-button.svg
  src/Mainpage-ChineseNewYear/images/logo.svg
  src/Mainpage-ChineseNewYear/images/mainpage-slogan.svg
  src/Mainpage-ChineseNewYear/images/scroll-button.svg
  src/Mainpage-ChineseNewYear/images/sidebarButton-collapse.svg
  src/Mainpage-ChineseNewYear/images/sidebarButton-expand.svg
  src/Mainpage-ChineseNewYear/images/square.svg
  src/Mainpage-ChineseNewYear/images/wordmark.svg
Due: prettier --write, stylelint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

fix(Mainpage-ChineseNewYear): filter on mainpage slogan
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(Mainpage-ChineseNewYear): filter on mainpage slogan (#817)
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(Mainpage-ChineseNewYear): filter on mainpage slogan under light mode
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(Mainpage-ChineseNewYear): use filter instead of images
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-ChineseNewYear/images/close.svg
  src/Mainpage-ChineseNewYear/images/darkmode-button.svg
  src/Mainpage-ChineseNewYear/images/logo.svg
  src/Mainpage-ChineseNewYear/images/mainpage-slogan.svg
  src/Mainpage-ChineseNewYear/images/scroll-button.svg
  src/Mainpage-ChineseNewYear/images/sidebarButton-collapse.svg
  src/Mainpage-ChineseNewYear/images/sidebarButton-expand.svg
  src/Mainpage-ChineseNewYear/images/square.svg
  src/Mainpage-ChineseNewYear/images/wordmark.svg
Due: prettier --write, stylelint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

fix(Report-pagestyles): background for SVG button (#811)
  src/Report-pagestyles/images/report-button.svg
Due: svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

refactor(HotCat): add types.d.ts (#812)
  src/HotCat/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(refToolbar): add types.d.ts (#814)
  src/Edittools-refToolbar/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(refToolbar): missing rest parameter (#813)
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(EditFormJS): remove forcePreview (with bug)
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/forcePreview.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(DefaultSummaries): typo in commit 41102aaf
  src/DefaultSummaries/modules/processVisualEditor.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(EditFormJS): remove forcePreview (with bug) (#819)
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/forcePreview.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(DefaultSummaries): typo in commit 41102aaf (#820)
  src/DefaultSummaries/modules/processVisualEditor.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: optimize logic
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AddSectionPlus/AddSectionPlus.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AutoLink/AutoLink.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/BanPage/BanPage.ts
  src/BanPage/modules/addPortletLink.ts
  src/CodeLinks/CodeLinks.ts
  src/ConfirmLogout/ConfirmLogout.ts
  src/CookieWarning/CookieWarning.ts
  src/DidYouMean/DidYouMean.ts
  src/Edit0/Edit0.ts
  src/Edit0/modules/core.ts
  src/EditForm_JS/EditForm_JS.ts
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: optimize logic (#821)
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AddSectionPlus/AddSectionPlus.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AutoLink/AutoLink.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/BanPage/BanPage.ts
  src/BanPage/modules/addPortletLink.ts
  src/CodeLinks/CodeLinks.ts
  src/ConfirmLogout/ConfirmLogout.ts
  src/CookieWarning/CookieWarning.ts
  src/DidYouMean/DidYouMean.ts
  src/Edit0/Edit0.ts
  src/Edit0/modules/core.ts
  src/EditForm_JS/EditForm_JS.ts
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(SiteCommon/filePage): update: border; color under dark mode
  src/SiteCommon/modules/filePage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(var): adjust border-radius
  src/variables.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(SiteCommon/filePage): update: border-radius; color under dark mode (#822)
  src/SiteCommon/modules/filePage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(var): adjust border-radius (#823)
  src/variables.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): margin of link button
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(ASN): adjust box-shadow
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(SiteCommon/mbox): adjust border-related styles; add padding; adjust width and margin
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(SiteCommon/mbox): adjust font size
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(mainpage): margin of link button (#824)
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(ASN): adjust box-shadow (#825)
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(SiteCommon/mbox): adjust styles (#826)
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(CAL): push all results after all promises are done
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(CAL): push all results after all promises are done (#827)
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): remove `default: true` tag
  src/Mainpage-ChineseNewYear/definition.json
Due: prettier --ignore-unknown --write

chore(Mainpage-ChineseNewYear): remove `default: true` tag (#828)
  src/Mainpage-ChineseNewYear/definition.json
Due: prettier --ignore-unknown --write

fix(TR): replace .done with .then
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --ignore-unknown --write: any of: *
