Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --ignore-unknown --write

fix(SiteCommon): typo
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon): fix typo (#856)
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(select2): use select2 from npm package instead of naked source code
  package.json
  pnpm-lock.yaml
  src/select2/modules/global.d.ts
  src/select2/select2.js
  src/select2/select2.less
  src/select2/select2.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

refactor(select2): use select2 from npm package instead of source code (#857)
  package.json
  pnpm-lock.yaml
  src/select2/modules/global.d.ts
  src/select2/select2.js
  src/select2/select2.less
  src/select2/select2.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

chore: format
  package.json
  pnpm-lock.yaml
  src/morebits/morebits.js
  src/select2/.eslintrc
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(SiteCommon/talkpage): follow PR #853 (#855)
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/mbox): update yellow-color style (#854)
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor(select2): use select2 from npm package instead of source code (#857)
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/morebits/definition.json
  src/morebits/morebits.js
  src/select2/.eslintrc
  src/select2/definition.json
  src/select2/select2.js
  src/select2/select2.less
  src/select2/select2.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

refactor(tippy&toastify): load up styles using scripts (#859)
  src/Tippy/Tippy.less
  src/Tippy/Tippy.ts
  src/Toastify/Toastify.ts
  src/Toastify/style-modules/style.less
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

refactor(tippy&toastify): load up styles using scripts
  src/Tippy/Tippy.less
  src/Tippy/Tippy.ts
  src/Toastify/Toastify.ts
  src/Toastify/style-modules/style.less
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

build(select2): update dependencies
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor: use Less reference import
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/DisamAssist-pagestyles/DisamAssist-pagestyles.less
  src/Edit0/Edit0.less
  src/EditForm/EditForm.less
  src/FloatTOC/FloatTOC.less
  src/FoldRef-pagestyles/FoldRef-pagestyles.less
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/MarkRights-pagestyles/MarkRights-pagestyles.less
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/Navigation_popups-pagestyles/Navigation_popups-pagestyles.less
  src/NospzGothic/NospzGothic.less
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/filePage.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/gadgetsDefinition.less
  src/SiteCommon/modules/hatnote.less
  src/SiteCommon/modules/infobox.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/normalize.less
  src/SiteCommon/modules/print.less
  src/SiteCommon/modules/uploadText.less
  src/SkinCitizen/SkinCitizen.less
  src/SkinGongbi/SkinGongbi.less
  src/Toastify/style-modules/style.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/Wikiplus/style-modules/core.less
  src/morebits/morebits.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor: use Less reference import (#860)
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/DisamAssist-pagestyles/DisamAssist-pagestyles.less
  src/Edit0/Edit0.less
  src/EditForm/EditForm.less
  src/FloatTOC/FloatTOC.less
  src/FoldRef-pagestyles/FoldRef-pagestyles.less
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/MarkRights-pagestyles/MarkRights-pagestyles.less
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/Navigation_popups-pagestyles/Navigation_popups-pagestyles.less
  src/NospzGothic/NospzGothic.less
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/filePage.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/gadgetsDefinition.less
  src/SiteCommon/modules/hatnote.less
  src/SiteCommon/modules/infobox.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/normalize.less
  src/SiteCommon/modules/print.less
  src/SiteCommon/modules/uploadText.less
  src/SkinCitizen/SkinCitizen.less
  src/SkinGongbi/SkinGongbi.less
  src/Toastify/style-modules/style.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/Wikiplus/style-modules/core.less
  src/morebits/morebits.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/talkPage): replyWidget inside newTopic
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(SiteCommon/talkPage): replyWidget inside newTopic (#862)
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

refactor: re-export default as named export
  src/Clipboard/Clipboard.ts
  src/FilterAlteredClicks/FilterAlteredClicks.ts
  src/Tippy/Tippy.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: remove unnecessary type import alias
  src/FilterAlteredClicks/modules/global.d.ts
  src/Toastify/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(Geo): rename variables
  src/Geo/Geo.ts
  src/Geo/modules/getGeoInfo.ts
  src/Geo/modules/global.d.ts
  src/GeoLocation/GeoLocation.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(GeoLocationReader): remove unused dependencies
  src/GeoLocationReader/definition.json
Due: prettier --ignore-unknown --write

refactor(GeoLocationReader): remove unused dependencies (#863)
  src/GeoLocationReader/definition.json
Due: prettier --ignore-unknown --write

refactor(Geo): rename variables (#864)
  src/Geo/Geo.ts
  src/Geo/modules/getGeoInfo.ts
  src/Geo/modules/global.d.ts
  src/GeoLocation/GeoLocation.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: remove unnecessary type import alias (#865)
  src/FilterAlteredClicks/modules/global.d.ts
  src/Toastify/modules/types.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor: re-export default as named export (#866)
  src/Clipboard/Clipboard.ts
  src/FilterAlteredClicks/FilterAlteredClicks.ts
  src/Tippy/Tippy.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(React): set to enabled
  dist/store.txt
  package.json
  pnpm-lock.yaml
  src/React/React.ts
  src/React/definition.json
  src/React/modules/global.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(CookieWarning): to TSX
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/CookieWarning.tsx
  src/CookieWarning/components/AgreeButton.tsx
  src/CookieWarning/components/CconsentNotice.tsx
  src/CookieWarning/definition.json
  src/CookieWarning/modules/util/generateElements.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(CookieWarning): to TSX (#867)
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/CookieWarning.tsx
  src/CookieWarning/components/AgreeButton.tsx
  src/CookieWarning/components/ConsentNotice.tsx
  src/CookieWarning/definition.json
  src/CookieWarning/modules/util/generateElements.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(Group-user_JS/fixSummary): remove 'disabled' attribute
  src/Group-user_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

fix(Group-user_JS/fixSummary): remove 'disabled' attribute (#868)
  src/Group-user_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

refactor(WordCount): refactor in react (test)
  src/WordCount/WordCount.less
  src/WordCount/WordCount.ts
  src/WordCount/WordCount.tsx
  src/WordCount/definition.json
  src/WordCount/modules/constant.ts
  src/WordCount/modules/core.ts
  src/WordCount/modules/i18n.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

refactor(WordCount): refactor in react (test) (#869)
  src/WordCount/WordCount.less
  src/WordCount/WordCount.ts
  src/WordCount/WordCount.tsx
  src/WordCount/definition.json
  src/WordCount/modules/constant.ts
  src/WordCount/modules/core.ts
  src/WordCount/modules/i18n.ts
Due: prettier --write, stylelint --fix, eslint --fix, prettier --ignore-unknown --write

chore(React): update format
  src/React/React.ts
  src/React/modules/global.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build(WordCount): update styles and formats; update store.txt
  dist/store.txt
  src/WordCount/WordCount.less
  src/WordCount/WordCount.tsx
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

chore(React): typo
  src/React/React.ts
  src/React/modules/global.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

chore(React): update format (#870)
  src/React/React.ts
  src/React/modules/global.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write

build(WordCount): update styles and formats; update store.txt (#871)
  dist/store.txt
  src/WordCount/WordCount.less
  src/WordCount/WordCount.tsx
Due: prettier --write, stylelint --fix, prettier --ignore-unknown --write

fix(WordCount): typo
  src/WordCount/WordCount.tsx
Due: prettier --ignore-unknown --write

fix(WordCount): typo (#872)
  src/WordCount/WordCount.tsx
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --ignore-unknown --write: any of: *
